@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Вы попали в <a href="#">панель администратора</a> проекта Зелёная точка</p>
    <img src="img/logo.png" alt="logo" class="mt-2">
</div>